<mat-accordion multi="true" *ngIf="posts.length > 0">
  <mat-expansion-panel *ngFor="let post of posts">
      <mat-expansion-panel-header>
        {{ post.title }}
      </mat-expansion-panel-header>
      <div>
        <!-- Content -->
        <p *ngIf="!post.editMode">{{ post.content }}</p>
        <!-- Image -->
        <img *ngIf="post.image" [src]="post.image" alt="Post image">
        <!-- Edit Form -->
        <form *ngIf="post.editMode" (submit)="onUpdatePost(post)">
         <mat-form-field appearance="outline">
            <mat-label>Title</mat-label>
            <input matInput type="text" [(ngModel)]="post.title" name="title" required>
         </mat-form-field>
         <mat-form-field appearance="outline">
            <mat-label>Content</mat-label>
            <textarea matInput rows="4" [(ngModel)]="post.content" name="content" required></textarea>
         </mat-form-field>
         <button mat-raised-button color="primary" type="submit">Save</button>
        </form>
      </div>
      <mat-action-row>
        <button mat-button color="primary" (click)="toggleEditMode(post)">Edit</button>
        <button mat-button color="warn" (click)="onDelete(post._id)">Delete</button>
      </mat-action-row>
  </mat-expansion-panel>
  </mat-accordion>
  <p class="info-text mat-body-1" *ngIf="posts.length <= 0">No posts added.</p>
